fastapi
uvicorn
pydantic

llama-index
llama-index-llms-azure-openai
llama-index-embeddings-huggingface
llama-index-vector-stores-qdrant
llama-index-readers-file

qdrant-client

sentence-transformers
transformers
torch

openai

pymssql
xmltodict